{% extends 'base.html' %}
{% load staticfiles %}

<!-- navigation bar -->
{% block navigation %}

    <div class="navbar-form navbar-left">

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Поиск">
        </div>

        <button class="btn btn-default">Найти!</button>

    </div>

    <div class="navbar-form navbar-right">

        <a href="{% url 'order' %}" id="order" class="btn btn-default">
            <span>Корзина</span>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="nopadding" id="reclama">{{ cart_sum }}</span>
            <span class="nopadding">руб.</span>
        </a>
    </div>

{% endblock %}

<!-- body-->
{% block body %}

    <!-- casual container -->
    <div class="container">
        <div class="row">
        </div>
    </div>

    <!-- store container -->
    <div class="container">
        <div class="row">

            <div class="col-sm-5 col-md-3 nopadding">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Меню</span>
                        </div>

                        <div class="navbar-collapse collapse sidebar-navbar-collapse nopadding">

                            <ul class="nav navbar-nav" id="sidenav01">
                                <li class="active">
                                    <a href="#" onclick="return false;" data-toggle="collapse"
                                       data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
                                        <h4>
                                            Навигация
                                        </h4>
                                    </a>
                                <li>
                                    <a href="#" onclick="return false;" data-toggle="collapse" data-target="#toggleDemo"
                                       data-parent="#sidenav01" class="collapsed">
                                        <span class="glyphicon glyphicon-object-align-right"></span>Контрольно-кассовая
                                        техника<span
                                            class="caret pull-right"></span>
                                    </a>
                                    <div class="collapse" id="toggleDemo">
                                        <ul class="nav nav-list">
                                            <li><a href="#" onclick="return false;">Кассовые аппараты</a></li>
                                            <li><a href="#" onclick="return false;">Фискальные регистраторы</a></li>
                                            <li><a href="#" onclick="return false;">POS - системы</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <li>
                                    <a href="#" onclick="return false;" data-toggle="collapse"
                                       data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">
                                        <span class="glyphicon glyphicon-scale"></span>Весовое оборудование<span
                                            class="caret pull-right"></span>
                                    </a>
                                    <div class="collapse" id="toggleDemo2">
                                        <ul class="nav nav-list">
                                            <li><a href="#" onclick="return false;">Весы торговые</a></li>
                                            <li><a href="#" onclick="return false;">Весы с возможностью печати
                                                этикеток</a></li>
                                            <li><a href="#" onclick="return false;">Весы напольные</a></li>
                                            <li><a href="#" onclick="return false;">Весы фасовочные и общего
                                                назначения</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <li>
                                    <a href="#" onclick="return false;" data-toggle="collapse"
                                       data-target="#toggleDemo3" data-parent="#sidenav01" class="collapsed">
                                        <span class="glyphicon glyphicon-menu-hamburger"></span>Штрих код<span
                                            class="caret pull-right"></span>
                                    </a>
                                    <div class="collapse" id="toggleDemo3">
                                        <ul class="nav nav-list">
                                            <li><a href="#" onclick="return false;">Сканеры штрих кодов</a></li>
                                            <li><a href="#" onclick="return false;">Терминалы сбора данных</a></li>
                                            <li><a href="#" onclick="return false;">Принтеры этикеток</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <li><a href="#" onclick="return false;"><span class="glyphicon glyphicon-lock"></span>
                                    Денежные ящики</a></li>

                                <li><a href="#" onclick="return false;"><span
                                        class="glyphicon glyphicon-credit-card"></span>
                                    Торговое оборудование</a></li>

                                <li>
                                    <a href="#" onclick="return false;" data-toggle="collapse"
                                       data-target="#toggleDemo4" data-parent="#sidenav01" class="collapsed">
                                        <span class="glyphicon glyphicon-bitcoin"></span>Банковское оборудование<span
                                            class="caret pull-right"></span>
                                    </a>
                                    <div class="collapse" id="toggleDemo4">
                                        <ul class="nav nav-list">
                                            <li><a href="#" onclick="return false;">Детекторы валют</a></li>
                                            <li><a href="#" onclick="return false;">Счетчики банкнот и монет</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <li><a href="#" onclick="return false;"><span class="glyphicon glyphicon-erase"></span>
                                    Расходные материалы</a></li>

                                <li><a href="#" onclick="return false;"><span class="glyphicon glyphicon-cd"></span>
                                    Программное обеспчение</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="store_board" class="col-sm-7 col-md-9 nopadding">

                <div class="container-fluid">

                    <h3><span class="glyphicon glyphicon-th-list"></span>Товары</h3>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="{% url 'store' page=1 %}">1</a></li>
                            <li class="page-item"><a class="page-link" href="{% url 'store' page=2 %}">2</a></li>
                            <li class="page-item"><a class="page-link" href="{% url 'store' page=3 %}">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>

                    <div class="container-fluid">
                        <div class="row">

                            {% for item in items %}

                                <!-- item -->

                                <div class="product container-fluid">

                                    <div class="row">
                                        <label>
                                            {{ item.item.title }}
                                            {{ item.item.price }} р.
                                        </label>
                                    </div>

                                    <div class="row">

                                        <div class="container col-sm-4">
                                            <img class="item_img img-responsive center-block"
                                                 src="{{ item.item.image.url }}"/>
                                        </div>

                                        <div class="container col-sm-5">
                                            <p>
                                                {{ item.item.description }}
                                            </p>
                                        </div>

                                        <div class="container col-sm-3">
                                            <div class="row">
                                                <button class="nopadding remove_button btn btn-primary btn-circle-sm"
                                                        id="{{ item.item.id }}">-
                                                </button>
                                                <button class="nopadding add_button btn btn-primary btn-circle-sm"
                                                        id="{{ item.item.id }}">+
                                                </button>
                                            </div>
                                            <br>
                                            <div class="row">
                                                В корзине:
                                                <label id="label{{ item.item.id }}">{{ item.quantity }}</label> шт.
                                                <br>
                                                На &nbspсумму:
                                                <label id="pricelabel{{ item.item.id }}"> {{ item.get_price }}</label>
                                                руб.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br>
                            {% endfor %}

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}

<script>

</script>